/* =========================
   HOME PAGE
========================= */

.content{

    width: 100%;

    min-height: 100vh;

    padding: 50px;
}


/* =========================
   WELCOME SECTION
========================= */

.welcome-message{

    text-align: center;

    margin-bottom: 60px;
}

.welcome-message h1{


    font-size: 52px;

    font-weight: 700;

    color: rgb(6, 59, 59);

    margin-bottom: 15px;

    letter-spacing: 1px;
}

.welcome-message p{

    font-size: 18px;

    color: rgba(255,255,255,0.7);

    letter-spacing: 0.5px;
}


/* =========================
   SCROLLBAR
========================= */

::-webkit-scrollbar{

    width: 8px;
}

::-webkit-scrollbar-track{

    background: #111;
}

::-webkit-scrollbar-thumb{

    background: cyan;

    border-radius: 10px;
}
